// arduinoEdit.js
//=======================================================================
//extends layout

h2 #{title}

meta(charset="iso-8859-1")
form( method='post', action='/arduino/' + arduino.id )
	input( name='_method', value='PUT', type='hidden')

	p
		label(for="ip") IP:
			input(type='text', name='ip', value=arduino.ip)
	p
		label(for="netmask") Netmask:
			input(type='text', name='netmask', value=arduino.netmask)
	p
		label(for="gateway") gateway:
			input(type='text', name='gateway', value=arduino.gateway)
	p
		label(for="nombre") Nombre:
			input(type='text', name='nombre', value=arduino.nombre)

	div.actions
		input(type='submit', value='Guardar', class='btn primary')

div
	a(href='/arduinos', class='btn primary') Regresar
//		button(class='btn') Regresar