// arduino.js
//=======================================================================
//extends layout

link(rel='stylesheet', href='/stylesheets/table2.css')

block content
h2 #{title}
p
  div
  table
    tr
      td
        a(href='/arduino/new', class='btn primary')
          button(class='btn') Nuevo
      td
        a(href='/arduinos', class='btn')
          button(class='btn') Refresh

- if(docs.length)
  table(border='0')
    tr
      th MAC
      th IP
      th NetMask
      th Gateway
      th Nombre
      th Borrar 
        each arduino in docs
          tr
            th 
              a(href='/arduino/#{arduino.id}/edit') #{arduino.mac}
            td #{arduino.ip}
            td #{arduino.netmask}
            td #{arduino.gateway}
            td #{arduino.nombre}
            td
              a(href='/arduino/#{arduino.id}/del')
                button(class='btn') Borrar

- else
  p No tienes ningun Arduino
