// arduino.js
//=======================================================================
//extends layout

block content
h1 #{title}
p
  div
    a(href='/arduino/new', class='btn primary') Nuevo Arduino
    p
    a(href='/arduino/rescan', class='btn') Rescan
    p
    a(href='/arduinos', class='btn') Refresh

- if(docs.length)
  table
    tr
      th Nombre
      th IP
      th MAC
      th NetMask
      th Gateway
      th DNS
      th Uso
        each arduino in docs
          tr
            td #{arduino.nombre}
            td #{arduino.ip}
            td #{arduino.mac}
            td #{arduino.netmask}
            td #{arduino.gateway}
            td #{arduino.dns}
            td #{arduino.uso}
- else
  p No tienes ningun Arduino
